<h1>Agregar productos</h1>
<form action="/api/productos" id="ProdForm">Productos
<label for="nombre">Nombre del productos
    <input type="text" name="nombre" id="nombre">
</label>
<label for="descripcion">Descripcion
<input type="text" name="descripcion" id="descripcion">
</label>
<label for="precio">Precio
    <input type="number" name="precio" id="precio">
</label>
<label for="thumbnail">Thumbnail
<input type="text" name="thumbnail" id="thumbnail">
</label>
<label for="code">Code
    <input type="number" name="code" id="code">
</label>
<label for="category">Categoría
    <input type="text" name="category" id="category">
</label>
<button>Enviar</button>
</form>


<h2>Lista de productos en tiempo real</h2>
<table id="table">
    <thead>
<tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Thumbnail</th>
    <th>Code</th>
    <th>Categoria</th>
</tr>    
</thead>
<tbody id="tbody">
    <tr>

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>